<button  nz-button nzType="primary" (click)="addMovie()" class="btn-add">Add Movie</button>
<nz-table #basicTable [nzData]="displayData">
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Genre</th>
      <th>Director</th>
      <th>Rating</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for(data of displayData; track data) {
      <tr>
        <td>{{data.title}}</td>
        <td>{{data.year}}</td>
        <td>{{data.genre}}</td>
        <td>{{data.director}}</td>
        <!-- <td>{{data.rating}}</td> -->
        <td>{{data.rating | rating}}</td>

        <td>{{data.description}}</td>
        <td>
          <button nz-button nzType="link" (click)="editMovie(data)">Edit</button>
          <nz-divider nzType="vertical"></nz-divider>
        </td>
      </tr>
    }
  </tbody>
</nz-table>

<nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="total" [nzPageSize]="pageSize" [nzShowQuickJumper]="true"
    (nzPageIndexChange)="onPageChange($event)">
</nz-pagination>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Add Movie" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <form [formGroup]="form">
      <div class="form-group">
        <label for="title" class="inline-label">Title</label>
        <input id="title" formControlName="title" nz-input placeholder="Add title" />
        <div *ngIf="form.get('title')!.invalid && form.get('title')!.touched" class="error-inline">
          Title is required!
        </div>
      </div>
      <div class="form-group">
        <label for="director">Director</label>
        <input id="director" formControlName="director" nz-input placeholder="Add director" />
        <div *ngIf="form.get('director')!.invalid && form.get('director')!.touched" class="error-inline">
          Director is required!
        </div>
      </div>
      <div class="form-group">
        <label for="year">Year</label>
        <input id="year" formControlName="year" nz-input placeholder="Add year" type="number" />
        <div *ngIf="form.get('year')!.invalid && form.get('year')!.touched" class="error-inline">
          Year is invalid!
        </div>
      </div>
      <div class="form-group">
        <label for="genre">Genre</label>
        <input id="genre" formControlName="genre" nz-input placeholder="Add genre" />
        <div *ngIf="form.get('genre')!.invalid && form.get('genre')!.touched" class="error-inline">
          Genre is required!
        </div>
      </div>
      <div class="form-group">
        <label for="rating">Rating</label>
        <input id="rating" formControlName="rating" nz-input placeholder="Add rating (0-10)" type="number" />
        <div *ngIf="form.get('rating')!.invalid && form.get('rating')!.touched" class="error-inline">
          Rating must be between 0 and 10!
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" nz-input placeholder="Add description"></textarea>
      </div>
    </form>
  </ng-container>
</nz-modal>

